.homeitem {
    border-radius:30px;
    width:10vh;
    text-align:center;
}

.homeitem:hover {
    background-color:rgb(204, 213, 235);
}

.navbar {
    border: 2px solid rgba(80, 80, 80, 0.5);
    background-color:  rgb(230, 232, 251);
}

.navitem {
    background-color: rgb(230, 232, 251);
    border-radius:10px;
    border: 2px solid rgba(80, 80, 80, 0.5);
    padding: 1%;
    margin: 1%;
    transition: background-color 0.5s ease;
   
}

.navitem:hover {
    background-color:rgb(204, 213, 235);
}