 :root {
    --border-width: 2px;
    --border-color: rgba(80,80,80,0.5);
    --form-color: rgb(213, 231, 248);
 }
 
 .wrapper .customButton {
    background-color: rgb(230, 232, 251);
    color: black;
    border: var(--border-width) solid var(--border-color);
    transition: background-color 0.5s ease;
}

.wrapper .customButton:hover{
    background-color:var(--form-color);
}


.expenseForm {
    width:50vw;
    background-color: var(--form-color);
    border: var(--border-width) solid var(--border-color);
    border-top:none;
    border-radius:0 0 10px 10px;
    transition: background-color 0.5s ease;
}

.expenseForm:hover {
    background-color:rgb(225, 243, 251);
}

.addExpense {
    display: flex;
    flex-direction: row;
}

