 :root {
    --border-width: 2px;
    --border-color: rgba(80,80,80,0.5);
    --form-color: rgb(222, 234, 246);
 }
 
 .wrapper .customButton {
    background-color: rgb(230, 232, 251);
    color: black;
    border: var(--border-width) solid var(--border-color);
    transition: background-color 0.5s ease;
}

.wrapper .customButton:hover{
    background-color:var(--form-color);
}

.expenseForm {
    background-color: var(--form-color);
    border: var(--border-width) solid var(--border-color);
    border-top:none;
    border-radius:0 0 10px 10px;
    transition: background-color 0.5s ease;
    width: 100vw;
}

.expenseForm:hover {
    background-color:rgb(225, 243, 251);
}

.addExpense {
    display: flex;
    flex-direction: row;
    height: 32vh;
    width: 100vw;
}

.tableWrapper {
    width: 40vw;
    word-wrap: break-word;
    background-color: var(--form-color);

}

 .cardWrapper {
    width: 100vw;
    text-align: center;
}

.bottomRow {
    display: flex;
    height: 50vh;
}





