.expenseCard {
    background-color: var(--form-color);
    border: 1px solid var(--border-color);
}

.titleCard {
    border: 1.5px solid var(--border-color);
    border-radius: 0 0 10px 10px;
    height: 5vh;
    text-align:center;
    font-weight: bold;
}


.expense {
    display: flex;
    justify-content: space-evenly;
    height:7vh;
    border: 1px dashed teal;
    transition: background-color 0.5s ease;
}

.expense:hover {
    background-color:rgb(225, 243, 251);
}

