.expenseCard {
    background-color: var(--form-color);
    border: 1px solid var(--border-color);
}

.titleCard {
    border: 1.5px solid var(--border-color);
    border-radius: 0 0 10px 10px;
    height: 5vh;
    text-align:center;
    font-weight: bold;
}


.expense {
    display: flex;
    justify-content: space-evenly;
    height:85vh;
    border: 1px dashed teal;
}

